@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --main-color: #2774e7fd;
  --main2-color: black;
  --main3-color: #fff200;
  --shadow-color: #cacaca;
  --border-color: #cacaca;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html,
body {
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3,
h4,
h4,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.heading-one {
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .heading-one {
    font-size: 34px;
  }
}

@media (max-width: 767.98px) {
  .heading-one {
    font-size: 26px;
  }
}

.heading-two {
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .heading-two {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .heading-two {
    font-size: 28px;
  }
}

.heading-three {
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .heading-three {
    font-size: 26px;
  }
}

@media (max-width: 575.98px) {
  .heading-three {
    font-size: 20px;
  }
}

.heading-four {
  font-size: 23px;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .heading-four {
    font-size: 20px;
  }
}

.heading-five {
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .heading-five {
    font-size: 16px;
  }
}

.paragraph-one {
  font-size: 23px;
}

@media (max-width: 767.98px) {
  .paragraph-one {
    font-size: 17px;
  }
}

@media (max-width: 575.98px) {
  .paragraph-one {
    font-size: 16px;
  }
}

.paragraph-two {
  font-size: 16px;
  color: gray;
}

@media (max-width: 767.98px) {
  .paragraph-two {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .paragraph-two {
    font-size: 14px;
  }
}

.paragraph-three {
  font-size: 15px;
  color: gray;
}

@media (max-width: 767.98px) {
  .paragraph-three {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .paragraph-three {
    font-size: 14px;
  }
}

.color-white {
  color: white;
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center-center-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1199.98px) {
  .flex-center-center-lg {
    display: block;
  }
}

.topLink-list ul li {
  display: inline-block;
}

.topLink-list ul li a {
  display: inline-block;
}

.topLink-list ul li a i {
  display: inline-block;
}

.topLink-list ul li a span {
  display: inline-block;
}

.header {
  background-color: #ffffff;
  padding: 19px 0px;
}

.header-img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (max-width: 991.98px) {
  .header-img {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-logo {
  width: auto;
  height: 78px;
}

@media (max-width: 575.98px) {
  .header-logo {
    height: 78px;
  }
}

.header-search {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
}

@media (max-width: 1199.98px) {
  .header-search {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
}

@media (max-width: 991.98px) {
  .header-search {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 575.98px) {
  .header-search {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
}

.header-search form {
  position: relative;
}

.header-search form input[type="text"] {
  width: 100%;
  font-size: 17px;
  padding: 10px;
  padding-right: 35px;
}

.header-search form input[type="text"]:focus {
  outline: 0px;
}

@media (max-width: 1199.98px) {
  .header-search form input[type="text"] {
    padding: 5px;
  }
}

@media (max-width: 575.98px) {
  .header-search form input[type="text"] {
    padding: 5px;
    padding-right: 25px;
    font-size: 13px;
  }
}

.header-search form input[type="submit"] {
  display: none;
}

.header-search form label[for="submit"] {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.header-search form label[for="submit"] i {
  font-size: 25px;
  padding: 0px 10px;
}

@media (max-width: 575.98px) {
  .header-search form label[for="submit"] i {
    font-size: 19px;
    padding: 0px 5px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .header-nav {
    display: none;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    page-break-after: always;
    padding-top: 30px;
  }
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media (max-width: 991.98px) {
  .header-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.header-link {
  display: inline-block;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding-right: 32px;
  border: 1px solid #00000000;
  text-transform: uppercase;
}

@media (max-width: 1199.98px) {
  .header-link {
    font-size: 14px;
    padding-right: 20px;
  }
}

@media (max-width: 991.98px) {
  .header-link {
    padding: 8px 10px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

.header-link:hover {
  color: var(--main-color);
}

.header-link-btn {
  background: var(--main-color);
  color: white;
  border-radius: 40px;
  padding: 8px 24px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
  .header-link-btn {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

.header-link-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
}

.header .active {
  color: var(--main-color);
}

.header-toggel {
  display: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (max-width: 991.98px) {
  .header-toggel {
    display: -webkit-box;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.header-toggel i {
  color: #000000;
  font-size: 45px;
  line-height: 0px;
}

@media (max-width: 575.98px) {
  .header-toggel i {
    font-size: 35px;
    padding: 0px 5px;
  }
}

.drop-link {
  padding: 5px 0px;
}

.drop-link:hover .sub {
  display: block;
}

.drop-link:hover .sub-item {
  opacity: 0;
}

.open {
  opacity: 1 !important;
}

.sub {
  position: absolute !important;
  z-index: 999;
  top: 42px !important;
  background: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

@media (max-width: 991.98px) {
  .sub {
    position: relative !important;
    top: unset !important;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: 40px;
  }
}

.sub-item {
  background: black;
  display: block;
}

.sub-link {
  display: block;
}

.no-link {
  cursor: pointer;
}

.no-link-banner:hover {
  color: black;
}

.no-link-banner {
  background: var(--main-color);
  color: white;
  border-radius: 40px;
  padding: 8px 24px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
  .no-link-banner {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

.banner {
  color: white;
  padding: 150px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner .head {
  font-size: 70px;
  line-height: 98px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner .para2 {
  font-size: 20px;
  line-height: 41px;
}

.set {
  padding: 80px 0px;
}

.set-img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.set-img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.set-image {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.set-info .number {
  font-size: 17px;
  line-height: 23px;
  color: #00a36c;
}

.set-info .head {
  font-weight: 600;
  font-size: 44px;
  color: #111827;
  line-height: 49px;
}

.set-info .list {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-count: 2;
  padding-left: 20px;
  -webkit-column-gap: 24px;
  column-gap: 24px;
  margin: 20px 0px;
}

.set-info .list li {
  list-style-type: disc;
  color: #af1f38;
  font-size: 18px;
  line-height: 27px;
}

.set-info .para {
  font-size: 20px;
  line-height: 30px;
  color: #615e5d;
}

.footer {
  background-color: #f3f4f6 !important;
  padding: 67px 0px;
}

@media (max-width: 991.98px) {
  .footer {
    padding: 40px 0px;
  }
}

.footer .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer .link-list ul {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer .link-list ul li {
  display: inline-block;
  border-right: 2px solid #d5d5d5;
  padding: 0px 30px;
}

@media (max-width: 991.98px) {
  .footer .link-list ul li {
    padding: 0px 12px;
  }
}

.footer .link-list ul li:last-child {
  border-right: unset;
}

.footer .link-list ul li a {
  color: #1f2937;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.footer .link-list ul li a:hover {
  color: var(--main-color);
}

.footer-img {
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
}

.footer-img img {
  height: 55px;
  width: 100px;
  padding: 20px;
  border-radius: 5%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.footer .copy-right {
  font-size: 16px;
  text-align: center;
}

.footer .social-links {
  text-align: center;
  margin: 30px 0px;
}

@media (max-width: 991.98px) {
  .footer .social-links {
    margin: 20px 0px;
  }
}

.footer .social-links ul li {
  display: inline-block;
  padding: 15px 16px;
  font-size: 25px;
}

.footer .social-links ul li a i {
  color: #af1f38;
}

.why-with-us {
  padding: 100px 0px;
}

.why-us-text {
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.why-us {
  text-align: center;
}

.why-us .info {
  color: white;
  font-size: 20px;
  line-height: 30px;
}

/*Testomonials Start*/
.testomonials {
  padding: 0px;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 50px;
  line-height: 0px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #444;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 40%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.slider__txt {
  color: #999;
  margin-bottom: 5rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
/* Testomonials Ends*/
