
*{
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
    box-sizing: border-box;
    font-family: 'Open Sans';
}
html, body{
    margin: 0px;
    padding: 0px;
}
p,h1,h2,h3,h4,h4,h6{
    margin: 0px;
}

ul,ol{
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

